html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

#codemirror {
  flex: 1;
  min-width: 0;
  position: relative;
  z-index: 2;
}

#matter {
  flex: 1;
  min-width: 0;
  position: relative;
  display: none;
}

#d3 {
  flex: 1;
  min-width: 0;
  position: relative;
  /* display: none; */
}

.token-paren {
  color: #2586be !important;
  font-weight: bold;
}

.token-binder {
  color: #a338bb !important;
  font-weight: bold;
}

canvas {
  display: block;
  position: absolute;
  inset: 0;
  z-index: 0;
  box-sizing: border-box;
}

.label {
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
  color: #ffffff;
  pointer-events: none;
  box-sizing: border-box;
}