html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

#codemirror {
  flex: 1;
  position: relative;
  z-index: 2;
}

#matter {
  flex: 1;
  position: relative;
  /* display: none; */
}

#d3 {
  flex: 1;
  position: relative;
  display: none;
}

.token-paren {
  color: #2586be !important;
  font-weight: bold;
}

.token-binder {
  color: #a338bb !important;
  font-weight: bold;
}

canvas {
  display: block;
  position: absolute;
  inset: 0;
  z-index: 0;
  box-sizing: border-box;
}

/* .input-container {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  height: 60px;
  font-size: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

input::placeholder {
  color: #00000066;
} */

.label {
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
  color: #ffffff;
  pointer-events: none;
  box-sizing: border-box;
}